@font-face {
    font-family: 'Repro-Regular';
    src: url('../fonts/repro-regular-webfont.eot');
    src: url('../fonts/repro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/repro-regular-webfont.woff2') format('woff2'),
         url('../fonts/repro-regular-webfont.woff') format('woff'),
         url('../fonts/repro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Repro-Light';
    src: url('../fonts/repro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* GRID */
.grid{
    background: linear-gradient( rgba(255,255,255, 0) 15px, rgba(0, 0, 0, .15) 1px) 0 0, linear-gradient(90deg, rgba(255,255,255, 0) 15px, rgba(0, 0, 0, .15) 1px) 0 0;
    background-size: 16px 16px;
    box-sizing: border-box;
}

.fixed-width-container{
    max-width: 944px;
    margin: auto;
    height: 100%;
}

.col-2{
    width: calc(var(--fixed-width)) / 2 - 16px);
    display: flex;
}

.col-3{
    width: calc(3 * 144px - 16px);
    display: flex;
}

.col-4{
    width: calc(4 * 144px - 16px);
    display: flex;
}

.col-5{
    width: calc(5 * 144px - 16px);
}

.col-6{
    width: calc(6 * 144px - 16px);
    display: flex;
}

.col-9{
    width: calc(9 * 144px);
    display: flex;
}

@media screen and (max-width: 992px){
    .grid{
        background: linear-gradient( rgba(255,255,255, 0) 0.1VW, rgba(0, 0, 0, .15) 0) 0 -0.3vw, linear-gradient(90deg, rgba(255,255,255, 0) 0.1VW, rgba(0, 0, 0, .15) 1px) 0 0;
        background-size: 2.5vw 2.5vw;
    }
}



/* Basic Styles */

:root {
    --color-primary: #262626;
    --color-muted: #606060;
    --color-white: white;
    --color-white-60: rgba(255, 255, 255, 0.6);
    --color-bg: #EFEFEF;
    --color-attention: #ff3e50;
    --color-attention__hover: #e32a44;
    --color-blue: #002868;

    --fixed-width: 944px;
}

*{
    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 30px;
    font-size: 24px;
}

body{
    background-color: var(--color-white);
    margin: 0;
}

h1{
    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 46px;
    line-height: 56px;
    color: var(--color-primary);

    margin: 0;
}

h2{
    font-weight: normal;
    margin: 0;

    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 58px;
    line-height: 80px;
    color: var(--color-primary);
}

h3{
    font-weight: normal;
    margin: 0;

    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: var(--color-primary);
}

p{
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 25px;
}

a{
    text-decoration: none;
    color: var(--color-primary);
}

a.active{
    color: #F19300;
}



/* WRAPPER */



/* NAV */

nav{
    position: absolute;
    width: calc(100vw - 16px);
    margin: 16px auto;
}

.nav-link{
    display: flex;
    align-items: flex-end;
}

.nav-link--name{
    font-size: 18px;
    color: var(--color-primary);

    margin-left: 16px;
}

@media screen and (max-width: 960px){
    nav{
        margin: 16px;
    }
}



/* HEADER */
.main--header{
    background-image: url(/assets/images/bg-image.jpg);
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: overlay;

    width: 100%;
    height: 600px;
    padding-top: 200px;
}

.main--descriptor{
    font-size: 22px;
    line-height: 32px;

    margin-top: 18px;
}

.header--button{
    font-size: 18px;

    background-color: var(--color-attention);
    height: 64px;
    display: inline-block;
    position: sticky;
    top: 16px;
    padding: 0 32px;
    margin-top: 100px;
    line-height: 64px;
    border-radius: 64px;
    color: white;
}

.header--button:hover{
    background-color: var(--color-attention__hover);
}

@media screen and (max-width: 960px){
    .main--header{
        padding-top: 124px;
        padding-left: 16px;
        padding-right: 16px;
        width: auto;
    }

    .header--button{
        float: right;
        bottom: 16px;
    }
}

/* CITIES BLOCK */
.main--cities{
    padding: 16px;
    background-color: var(--color-primary);
    color: var(--color-white);
}
.cities--list{
    -webkit-columns: Calc(50vw - 32px) 2;
    -moz-columns: Calc(50vw - 32px) 2;
    columns: Calc(var(--fixed-width) / 8) 4;

    color: var(--color-white-60);
}

/* BENEFITS */
.main--benefits{
    padding: 0 16px;
    color: var(--color-muted);
}

.benefits-title{
    border-bottom: solid 2px var(--color-primary);

    margin-bottom: 96px;
    margin-top: 96px;
}

.benefits-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.benefits-block{
    margin-bottom: 128px;
    width: 400px;
}

.benefit-title{
    margin-top: 23px;
}

.benefits-text{
    margin-top: 13px;
}

.

/* FOOTER */








/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}
  