@font-face {
    font-family: 'Repro-Regular';
    src: url('../fonts/repro-regular-webfont.eot');
    src: url('../fonts/repro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/repro-regular-webfont.woff2') format('woff2'),
         url('../fonts/repro-regular-webfont.woff') format('woff'),
         url('../fonts/repro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Repro-Light';
    src: url('../fonts/repro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* GRID */
.grid{
    background: linear-gradient( rgba(255,255,255, 0) 15px, rgba(0, 0, 0, .15) 1px) 0 0, linear-gradient(90deg, rgba(255,255,255, 0) 15px, rgba(0, 0, 0, .15) 1px) 0 0;
    background-size: 16px 16px;
    box-sizing: border-box;
}

@media screen and (max-width: 992px){
    .grid{
        background: linear-gradient( rgba(255,255,255, 0) 0.1VW, rgba(0, 0, 0, .15) 0) 0 -0.3vw, linear-gradient(90deg, rgba(255,255,255, 0) 0.1VW, rgba(0, 0, 0, .15) 1px) 0 0;
        background-size: 2.5vw 2.5vw;
    }
}



/* Basic Styles */

:root {
    --color-primary: #262626;
    --color-muted: #606060;
    --color-bg: #EFEFEF;
    --color-attention: #FF3F05;
    --color-blue: #002868;
  }

*{
    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 30px;
    font-size: 24px;
}

body{
    background-color: var(--color-bg);
    margin: 0;
}


@media screen and (max-width: 992px){
    .desktop{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .mobile{
        display: none;
    }
}

h1{
    margin: 0;
}

h2{
    font-weight: normal;
    margin: 0;

    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 58px;
    line-height: 80px;
    color: var(--color-primary);
}

h3{
    font-weight: normal;
    margin: 0;

    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 36px;
    line-height: 44px;
    color: var(--color-primary);
}

p{
    margin: 0;
    padding: 0;

    font-size: 24px;
    line-height: 48px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    /* display: inline-block; */
    line-height: 48px;
}

a{
    text-decoration: none;
    color: var(--color-primary);
}

a.active{
    color: #F19300;
}

.underlined{
    background-color: var(--color-attention);
    padding: 6px;
}

@media screen and (max-width: 992px){
    p{
        font-size: 6vw;
        line-height: 7.5vw;
    }
}


/* Wrapper */

.wrapper{
    width: 1280px;
    margin: auto;
}

@media screen and (max-width: 992px){
    .wrapper{
        width: calc(100vw - 16px);
    }
}



/* Nav */
nav{
    position: sticky;
    top: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    background-color: #efefef;
    padding-top: 32px;
}

.nav--logo--name{
    font-size: 42px;
    line-height: 36px;
}

.nav--logo--subtitle{
    font-size: 24px;
    line-height: 62px;
}

.nav--contacts--phone{
    font-size: 42px;
    line-height: 36px;
}

.nav--contacts--work-hours{
    font-size: 24px;
    line-height: 62px;
    text-align: end;
}

@media screen and (max-width: 992px){

    nav{
        position: sticky;
        top: Calc(-6.2vw - 42px);
        background-color: #efefef;
        z-index: 99999;
    }

    .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-start;

        padding-top: 0px;
    }

    .nav--logo--name{
        font-size: 6.2vw;
        line-height: 6.2vw;
        border-bottom: solid 2px var(--color-primary);
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .nav--contacts--phone{
        font-size: 6.2vw;
    }

    .nav--contacts{
        border-bottom: solid 2px var(--color-primary);
        padding-bottom: 1.8vw;
        padding-top: 1.8vw;
    }

    .nav--contacts--work-hours{
        font-size: 4.2vw;
        text-align: left;
        line-height: 4.2vw;
        color: var(--color-muted);
    }
}


/* Main */

.main{
    margin-top: 130px;
}

.main--lead{
    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 58px;
    line-height: 80px;
    font-weight: 100;
    color: #262626;
}

.main-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-block__1{
    margin-top: Calc(16px * 17 + 12px);
}

.main-block__2{
    margin-top: Calc(16px * 17 + 7px);
}

.main-block__3{
    margin-top: Calc(16px * 17 + 7px);
}

.main-block__3__list{
    margin-top: Calc(16px * 2 - 7px);
    margin-bottom: 3px;
}

.main-block__3__subtitle{
    margin-top: Calc(16px * 4 + 0px);
    margin-bottom: -4px;
}

.main-col-3{
    width: calc(3 * 144px - 16px);
    display: flex;
}

.main-col-4{
    width: calc(4 * 144px - 16px);
    display: flex;
}

.main-col-5{
    width: calc(5 * 144px - 16px);
}

.main-col-6{
    width: calc(6 * 144px - 16px);
    display: flex;
}

.main-col-9{
    width: calc(9 * 144px);
    display: flex;
}

.main-block--block-1--text{
    margin-top: 25px;
}

.main-factoid-usd70{
    margin-left: -2px;
}

.factoid-usd70--text{
    margin-top: 20px;
}

.main-factoid-warrenty{
    margin-top: -2px;
}

.factoid-warrenty--text{
    font-size: 89px;
    color: var(--color-attention);
    line-height: 96px;
}

.main-factoid-trainee{
    display: flex;
    background-color: #0028683b;
    padding: 0px 0px 0px 16px;
    margin-top: -16px;
    height: 195px;
}

.factoid-trainee--image{
    margin-right: 16px;
}

.main-factoid-insured{
    display: flex;
    background-color: #0028683b;
    padding: 0px 16px 2px 16px;
    margin-top: 0px;
}

.factoid-insured--image{
    margin-right: 16px;
}

@media screen and (max-width: 992px){
    .main{
        margin-top: 8.9vw;
        margin-bottom: 20vw;
    }

    .main--lead{
        font-size: 8.8vw;
        line-height: 12.6vw;
    }

    .factoid-warranty__mobile{
        background-color: #eb575748;
        height: 66vw;
        padding: 5vw;
        margin-bottom: 20vw;
        border: solid 1.5vw #eb5757;
    }

    .factoid-warrant--image{
        position: absolute;
        z-index: 1;
        width: 50vw;
    }

    .factoid-warrant--text{
        z-index: 2;
        position: relative;
        bottom: -23vw;
        width: 70vw;
        left: 9vw;
    }

    .factoid-diagnostic__mobile{
        overflow: hidden;
        margin-bottom: 20vw;
        border: solid 1.5vw;
        padding: 4vw;
    }

    .factoid-usd70--image{
        width: 100%;
    }

    .factoid-usd70--text{
        margin-top: 1.2vw;
    }

    .factoid-diagnostic-free__mobile{
        margin-bottom: 20.5vw;
        border: solid 1.5vw;
        padding: 4vw;
    }

    .factoid-diagnostic-free--image{
        width: 100%;
    }

    .factoid-diagnostic-free--text{
        margin-top: 1.8vw;
    }

    .main-factoid-trainee{
        margin-top: 0;
        padding: 4vw;
        margin-bottom: 20vw;
        
        height: 65vw;
        justify-content: space-evenly;
        flex-direction: column;
        border: solid 1.5vw var(--color-blue);
    }

    .factoid-trainee--div-1{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .factoid-trainee--h2{
        font-size: 14vw;
        line-height: 14vw;
        color: var(--color-blue);
    }

    .factoid-trainee--image {
        margin-right: 3vw;
        width: 30vw;
    }

    .factoid-trainee--text{
        margin-top: auto;
    }

    .main-factoid-insured{
        /* margin-top: 0;
        padding: 2vw;
        height: auto;
        margin-bottom: 20vw; */

        margin-top: 0;
        padding: 4vw;
        margin-bottom: 20vw;
        
        height: 65vw;
        justify-content: space-evenly;
        flex-direction: column;
        border: solid 1.5vw var(--color-blue);
    }

    .factoid-insured--div-1{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .factoid-insured--h2{
        font-size: 14vw;
        line-height: 14vw;
        color: var(--color-blue);
    }

    .factoid-insured--image{
        /* margin-right: 3vw;
        width: 20vw; */
        margin-right: 3vw;
        width: 30vw;
    }

    .main-factoid-same-day-service{
        margin-top: 0;
        padding: 1.5vw;
        height: auto;
        margin-bottom: 20vw;
        background-color: #27AE60;
    }

    .factoid-same-day-service--image{
        width: 100%;
    }
}


/* FOOTER */

.footer{
    background-color: var(--color-bg);
    color: var(--color-primary);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    width: Calc(1280px + 0px);
    margin: auto;
    /* padding-left: 16px;
    padding-right: 16px; */
    padding-top: 35px;
    padding-bottom: 32px;
    margin-top: Calc(16px * 17 + 0px);

    border-top: solid 16px var(--color-primary);
}

.footer--subtitle{
    margin-left: 16px;
}

@media screen and (max-width: 992px){
    .footer{
        width: auto;
        flex-direction: column;
        padding-top: 10vw;
        margin-top: 20vw;
    }

    .footer--company-name{
        width: auto;
        flex-direction: row;
    }

    .footer--company-logo{
        width: 36vw;
    }

    .footer--subtitle{
        margin-left: 2vw;
        font-size: 5vw;
        line-height: 7.5vw;
    }

    .footer--contacts{
        width: auto;
        margin-top: 10vw;
    }

    .footer--contact--p{
        font-size: 5vw;
        line-height: 7.5vw;
    }

    .footer--contact--a{
        font-size: 5vw;
        line-height: 7.5vw;
    }
}
