@font-face {
    font-family: 'Repro-Regular';
    src: url('../fonts/repro-regular-webfont.eot');
    src: url('../fonts/repro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/repro-regular-webfont.woff2') format('woff2'),
         url('../fonts/repro-regular-webfont.woff') format('woff'),
         url('../fonts/repro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Repro-Light';
    src: url('../fonts/repro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* Basic Styles */
*{
    font-family: Repro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 30px;
    font-size: 18px;
}

body{
    background-color: #F0EADC;
    margin: 0;
}

h2{
    font-weight: normal;
    margin-bottom: 0;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 1vw;
}

a.active{
    color: #F19300;
}

/* Head */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav--logo{

}

.nav--contacts{
    display: flex;
    flex-direction: column;

    text-align: end;
}

.nav--contacts li{
    font-size: 42px;
    line-height: 42px;
}


/* Wrapper */
.wrapper{
    margin: 32px 96px 96px 96px;
}


/* Main */

.main{
    margin-top: 128px;
}

.main--lead{
    font-family: Repro-Light, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 58px;
    line-height: 80px;
    font-weight: 600;
    color: #262626;
}