<section>
    <div class="fixed-width-container">
        <div class="col-8">
            <hr>
            <h2 class="section-headline">Dryer Repair Price Range</h2>
            <p class="big">The cost of repairing a dryer is on average $180.</p>
            <div class="card">
                <h3 class="section-subheadline">Typical problems</h3>
                <ul>
                    <li>No heat</li>
                    <li>Unusual drum movement</li>
                    <li>Dryer is overheating and shutting off</li>
                    <li>Bad electrical connections</li>
                </ul>
                <p class="big">Did you notice any of these? Then don’t hesitate to call us!</p>
            </div>
    
            <h3 class="section-subheadline">Gas Dryer Repair</h3>
            <p class="big">
                Gas dryer units cost about $50–$150 more than electric ones but cost less to power. Since gas dryers have another system, you may need to replace or repair these components:
            </p>
            <ul>
                <li>Flame sensors</li>
                <li>Gas valves</li>
                <li>Igniters</li>
                <li>Thermal fuses</li>
            </ul>
    
            <h3 class="section-subheadline">Dryer Belt Replacement</h3>
            <p class="big">
                Replacing a dryer belt costs about $200 in general.
            </p>
            <div class="card">
                <h3 class="section-subheadline">Dryer Brands We Service</h3>
                <ul class="two-column">
                    <li>Amana</li>
                    <li>GE</li>
                    <li>LG</li>
                    <li>Maytag</li>
                    <li>Samsung</li>
                    <li>Whirlpool</li>
                </ul>
                <p class="big">
                    No matter what brand of dryer you possess, they all work on similar principles. Hand your dryer over to our technically competent personnel and book your repair online today.
                </p>
            </div>
        </div>
    </div>
</section>