<!-- <footer>
    <div class="desktop">
        <div class="footer">
            <div class="main-col-4 footer--company-name">
                <img src="assets/svg/logo-sign.svg" alt="AC/DC HVAC & Appliance Repair">
                <p class="footer--subtitle">Thank you for your interest in AC/DC HVAC & Appliance Repair.</p>
            </div>
            <div class="main-col-4 footer--contacts">
                <p>
                    Our address: 2248 Central Dr, Bedford, 76021, TX
                    <br>
                    Phone: <a href="tel:(817) 225-0277">(817) 225-0277</a>
                    <br>
                    E-mail: support@acdcappliancerepair.com
                </p>
            </div>
        </div>
    </div>

    <div class="mobile">
        <div class="footer">
            <div class="main-col-4 footer--company-name">
                <img class="footer--company-logo" src="assets/svg/logo-sign.svg" alt="AC/DC HVAC & Appliance Repair">
                <p class="footer--subtitle">Thank you for your interest in AC/DC HVAC & Appliance Repair.</p>
            </div>
            <div class="main-col-4 footer--contacts">
                <p class="footer--contact--p">
                    2248 Central Dr, Bedford, 76021, TX
                    <br>
                    <a class="footer--contact--a" href="tel:(817) 225-0277">(817) 225-0277</a>
                    <br>
                    <a class="footer--contact--a" href="mailto:support@acdcappliancerepair.com">support@acdcappliancerepair.com</a>
                </p>
            </div>
        </div>
    </div>
</footer> -->