<!-- <footer class="footer">
    <h2>Contacts</h2>
    <p class="footer--subtitle">Thank you for your interest in AC/DC HVAC & Appliance Repair.</p>
    <div class="main-col-4 footer--contacts">
        Our address: 2248 Central Dr, Bedford, 76021, TX
        <br>
        Phone: (817) 225-0277
        <br>
        E-mail: support@acdcappliancerepair.com
    </div>
</footer> -->

<footer class="footer">
    <div class="main-col-4 footer--company-name">
        <img src="assets/svg/logo-sign.svg" alt="AC/DC HVAC & Appliance Repair">
        <p class="footer--subtitle">Thank you for your interest in AC/DC HVAC & Appliance Repair.</p>
    </div>
    <div class="main-col-4 footer--contacts">
        <p>
            Our address: 2248 Central Dr, Bedford, 76021, TX
            <br>
            Phone: <a href="tel:(817) 225-0277">(817) 225-0277</a>
            <br>
            E-mail: support@acdcappliancerepair.com
        </p>
    </div>
</footer>