<nav>
    <div class="fixed-width-container">
        <div class="nav--container">

            <a class="nav-link" href="/">
                <img class="nav-link--image" src="/assets/svg/logo-sign.svg" alt="AC/DC HVAC & Appliance Repair">
                <div class="nav-link--name">AC/DC HVAC & Appliance Repair</div>
            </a>

            <div class="nav-menu">
                <a href="/100-reasons-book-acdc-appliance-repair" class="nav--contact-name">Why Us</a>
                <a href="/prices" class="nav--contact-name">Prices</a>
                <a href="/about" class="nav--contact-name">About Us</a>
                <a href="/contacts" class="nav--contact-name">Contacts</a>
            </div>

        </div>
    </div>
</nav>