<!-- <nav>
    <div class="nav--logo--name">AC/DC HVAC & Appliance Repair</div>
    <div class="nav--contacts">
        <a href="tel:(817) 225-0277" class="nav--contacts--phone">call: (817) 225-0277</a>
        <div class="nav--contacts--work-hours">8am - 8pm every day</div>
    </div>
</nav> -->

<nav>
    <div class="mobile">
        <div class="nav">
            <div class="nav--logo--name">AC/DC HVAC & Appliance Repair</div>
            <div class="nav--contacts">
                <a href="tel:(817) 225-0277" class="nav--contacts--phone">call: (817) 225-0277</a>
                <div class="nav--contacts--work-hours">8am - 8pm, every day</div>
            </div>
        </div>
    </div>

    <div class="desktop">
        <div class="nav">
            <div class="nav--logo">
                <div class="nav--logo--name">AC/DC</div>
                <div class="nav--logo--subtitle">HVAC & Appliance Repair</div>
            </div>
            <div class="nav--contacts">
                <a href="tel:(817) 225-0277" class="nav--contacts--phone">(817) 225-0277</a>
                <div class="nav--contacts--work-hours">8am - 8pm every day</div>
            </div>
        </div>
    </div>
</nav>