<section class="services">
    <div class="fixed-width-container">
        <div class="col-8">
            <h2 class="section-headline white">
                We Repair Home, Commercial and HVAC Appliances in Dallas, TX and Its Environs
            </h2>
            <h3 class="section-subheadline white">Residential Appliances</h3>
            <ul>
                <li class="white__muted">Oven, DoubleOven Repair</li>
                <li class="white__muted">Cooktop Repair</li>
                <li class="white__muted">Microwave & Oven Combo Repair</li>
                <li class="white__muted">Washer Repair</li>
                <li class="white__muted">Dryer Repair</li>
                <li class="white__muted">Dishwasher Repair</li>
                <li class="white__muted">Refrigerator Repair</li>
                <li class="white__muted">Freezer Repair</li>
                <li class="white__muted">Wine Cooler Repair</li>
                <li class="white__muted">Range and Stove Repair</li>
            </ul>
    
            <h3 class="section-subheadline white">Commercial Appliances</h3>
            <ul>
                <li class="white__muted">Commercial Refrigerator Repair</li>
                <li class="white__muted">Commercial Freezer Repair</li>
                <li class="white__muted">Commercial Oven Repair</li>
                <li class="white__muted">Commercial Cooktop Repair</li>
                <li class="white__muted">Commercial Microwave Repair</li>
                <li class="white__muted">Commercial Dishwasher Repair</li>
                <li class="white__muted">Commercial Pizza Oven Repair</li>
                <li class="white__muted">Ice Machine Repair</li>
            </ul>
    
            <h3 class="section-subheadline white">Industrial Appliance Equipment</h3>
            <ul>
                <li class="white__muted">Walk-in Cooler Repair</li>
                <li class="white__muted">Walk-in Freezer Repair</li>
                <li class="white__muted">Industrial Oven Repair</li>
                <li class="white__muted">Industrial Microwave Repair</li>
            </ul>
        </div>
    </div>
</section>