<section>
    <div class="fixed-width-container">
        <hr>
        <h2 class="section-headline">List of repair services</h2>
        <p class="big">We offer on-demand repair for major systems and appliances throughout your home.</p>
        <div class="service-icon__set">
            <a class="service-icon__link" href="">
                {% include washer.svg %}
                <p class="service-icon__link-text small">Washer</p>
            </a>
            <a class="service-icon__link" href="">
                {% include dryer.svg %}
                <p class="service-icon__link-text small">Dryer</p>
            </a>
            <a class="service-icon__link" href="">
                {% include dishwasher.svg %}
                <p class="service-icon__link-text small">Dishwasher</p>
            </a>
            <a class="service-icon__link" href="">
                {% include oven.svg %}
                <p class="service-icon__link-text small">Oven, Range, Cooktop</p>
            </a>
            <a class="service-icon__link" href="">
                {% include microwave.svg %}
                <p class="service-icon__link-text small">Microwave</p>
            </a>
            <a class="service-icon__link" href="">
                {% include refrigerator.svg %}
                <p class="service-icon__link-text small">Refrigerator and freezer</p>
            </a>
        </div>
    </div>
</section>