/* CAT */

.cat-button-container{
    position: sticky;
    top: -372px;
    z-index: 999999999;
    width: var(--fixed-width);
    margin: auto;
}

.cat-button{
    font-size: 18px;

    background-color: var(--color-attention);
    border: none;
    height: 64px;
    display: inline-block;
    position: absolute;
    /* position: sticky;
    top: 16px; */
    padding: 0 16px;
    margin-top: 383px;
    line-height: 64px;
    border-radius: 64px;
    color: white;
    right: 0;
}

.cat-button:hover{
    background-color: var(--color-attention__hover);
}

@media screen and (max-width: 960px){
    .cat-button-container{
        position: fixed;
        width: 100vw;
        padding: 0 16px;
        height: 64px;
        bottom: 16px;
        margin: 0;
        top: auto;
    }
    .cat-button{
        width: Calc(100vw - 64px);
        text-align: center;
        float: none;
        bottom: auto;
        margin: 0;
        right: unset;
    }
}
