.hero{
    height: 592px;
}

.header{
    // background-color: rgba(249, 249, 249, 0.85);
    // background-blend-mode: overlay;

    width: 100%;
    padding-top: 137px;

    h1{
        font-size: 6.854em;
        line-height: 96px;
        margin-top: 12px;
        text-transform: uppercase;
        width: 1px;
    }
}

.main--descriptor{
    font-size: 22px;
    line-height: 32px;

    margin-top: 18px;
}

.main--header-link{
    border-bottom: solid 4px var(--color-attention);
    // font-size: 22px;
    // line-height: 32px;
}
.main--header-link:hover{
    border-bottom: solid 4px var(--color-attention__hover);
    color: var(--color-attention__hover);
}

@media screen and (max-width: 960px){
    .hero{
        .header{
            display: flex;
            height: 100%;
            padding-top: 0;
            align-items: center;
            margin: 0 16px;
            width: Calc(100% - 32px);
        }
        h1{
            font-size: 4.236em; // 67.77px
            line-height: 80px;
            margin-top: -5px;
            color: var(--color-light-blue);
        }
    }

    .main--header--block{
        height: auto;
    }
}

@media screen and (max-width: 320px){

}