.hero{
    height: 576px;
    padding-top: 64px;
}

.header{
    width: 100%;
    height: inherit;
    // padding-top: 137px;
    display: flex;
    align-items: center;


    h1{
        font-size: 6.854em;
        line-height: 96px;
        margin-top: -21px;
        text-transform: uppercase;
        width: 1px;
    }
}

.main--descriptor{
    font-size: 22px;
    line-height: 32px;

    margin-top: 18px;
}

.main--header-link{
    border-bottom: solid 4px var(--color-attention);
    // font-size: 22px;
    // line-height: 32px;
}
.main--header-link:hover{
    border-bottom: solid 4px var(--color-attention__hover);
    color: var(--color-attention__hover);
}

@media screen and (max-width: 960px){
    .hero{
        padding-top: 0;
        .header{
            display: flex;
            align-items: center;
            height: Calc(100vh - 178px);
            width: Calc(100% - 32px);
            padding-top: 0;
            margin: 0 16px;
        }
        h1{
            font-size: 4.236em; // 67.77px
            line-height: 80px;
            margin-top: -5px;
            color: var(--color-light-blue);
        }
    }

    .main--header--block{
        height: auto;
    }
}

@media screen and (max-width: 320px){

}