header.top-bar{
    position: fixed;
    width: 100%;
    z-index: 9999999;
    background-color: white;
    border-bottom: solid 1px #e6e6e6;
}

nav{
    display: flex;
    align-items: center;
    margin-right: 296px;
}

.nav--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

.nav--contact-name{
    margin-left: 16px;
}

.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none;
}

.nav-link--image{
    height: 32px;
    // margin: 16px 0;
}

.nav-link--name{
    margin-left: 16px;
    text-transform: uppercase;
    color: var(--color-light-blue);
    line-height: 16px;
    font-size: 12px;
    font-weight: 700;

}

@media screen and (max-width: 960px){
    header.top-bar{
        position: sticky;
        top: -32px;
    }
    nav{
        width: 100%;
        margin-right: none;
    }

    .nav--container{
        flex-direction: column;
        margin: 8px 0 0 0;
    }

    .nav-link{
        // margin: 0 16px;
    }

    .nav-link--name{
        font-size: 12px;
        width: 160px;
        line-height: 15px;
        margin-left: 4px;
    }

    .nav-menu{
        padding-top: 4px;
        padding-bottom: 5px;
        width: 100%;
        margin: 0;
        width: Calc(100% - 32px);
        margin: 0 16px;
        justify-content: space-between;
    }

    .nav--contact-name{
        margin: 0;
    }

    .nav-link--image{
        height: 24px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 360px){
    .nav-link--name{
        font-size: 15px;
    }
}