---
layout: "wrapper"
---

<main role="main" class="about">

    <!-- CAT -->
    <div class="page--cat-button-container">
        <div class="page--cat-button">
            <a id="cat-button__id-about" href="tel:(469) 730-0301" class="page--cat-phone">
                CALL US NOW (469) 730-0301
            </a>
        </div>
    </div>


    <!-- BG HERO -->
    <div class="page--bg-hero"></div>


    <!-- HEADER -->
    <header class="page--header">
        <div class="fixed-width-container main--header--block">
            <h1 class="main--lead">{{ page.title }}</h1>
            <p class="main--descriptor">{{ page.subtitle }}</p>
        </div>
    </header>

    <!-- CONTENT -->
    <div class="page--content">
        <div class="fixed-width-container">
            <div class="col-8">
                <p class="page--text">AC/DC HVAC & Appliance Repair llc. diagnostics and repair of household appliances is fast and professional: refrigerators, dishwashers, ranges, microwave ovens, ovens, dryers and washing machines. We work in Dallas, TX and surrounding areas.
                <h2 class="page--quote">No need to buy new appliances. Trust our professional repair services.</h2>
                <p class="page--text">AC/DC HVAC & Appliance Repair llc. your perfect solution for accurate, immediate and professional help with all of your major appliances. We have over 8 years of experience servicing the Dallas, TX and surrounding areas.</p>
                <p class="page--text">Our technicians are highly trained and certified professionals. They are knowledgeable and experienced in repairing all brands and models of all major appliances.</p>
            </div>
        </div>
    </div>


    <!-- CITIES -->
    <div class="page--content">
        <div class="fixed-width-container">
            <div class="col-8">
                <h3 class="page--h3">Our serving cities in Dallas, TX and surrounding areas</h3>
                <p class="page--text-list">
                    Arlington, TX
                    <br>
                    Dallas, TX
                    <br>
                    Bedford, TX
                    <br>
                    Denton, TX
                    <br>
                    Lewisville, TX
                    <br>
                    Plano, TX
                    <br>
                    River Oaks, TX
                </p>
            </div>
        </div>
    </div>


    <!-- SERVICES  -->
    <div class="page--content">
        <div class="fixed-width-container">
            <div class="col-8">
                <h3 class="page--h3">
                    We do residential appliance repair, commercial appliance repair, industrial appliance repair and HVAC repair in Dallas, TX and surrounding areas
                </h3>
                <p class="page--text-list">
                        Oven Repair
                    <br>Cooktop Repair
                    <br>Microwave Repair
                    <br>Washer Repair
                    <br>Dryer Repair
                    <br>Dishwasher Repair
                    <br>Refrigerator Repair
                    <br>Freezer Repair
                    <br>Wine Cooler Repair
                    <br>Double Oven Repair
                    <br>Range/Stove Repair
                </p>
    
                <h3 class="page--h3">Commercial Appliance Repair AC/DC HVAC & Appliance Repair </h3>
                <p class="page--text-list page--text-list__wide">
                        Commercial Refrigerator Repair
                    <br>Commercial Freezer Repair
                    <br>Commercial Oven Repair
                    <br>Commercial Cooktop Repair
                    <br>Commercial Microwave Repair
                    <br>Commercial Dishwasher Repair
                    <br>Commercial Pizza Oven Repair
                    <br>Ice Machine Repair
                </p>
    
                <h3 class="page--h3">Industrial Appliance Equipment Repair in AC/DC HVAC & Appliance Repair</h3>
                <p class="page--text-list">
                        Walk-in Cooler Repair
                    <br>Walk-in Freezer Repair
                    <br>Industrial Oven Repair
                    <br>Industrial Microwave Repair
                    <br>Walk-in Oven Repair
                </p>
            </div>
        </div>
    </div>
</main>