---
layout: "wrapper"
---

<main role="main" class="about">

    <!-- CAT -->
    <div class="page--cat-button-container">
        <div class="page--cat-button">
            <a href="tel:(817) 225-0277" class="page--cat-phone">
                CALL US NOW (817) 225-0277
            </a>
        </div>
    </div>


    <!-- BG HERO -->
    <div class="page--bg-hero"></div>


    <!-- HEADER -->
    <header class="page--header">
        <div class="fixed-width-container main--header--block">
            <h1 class="main--lead">{{ page.title }}</h1>
            <p class="main--descriptor">{{ page.subtitle }}</p>
        </div>
    </header>

    <!-- CONTENT -->
    <div class="page--content">
        <div class="fixed-width-container">
            <div class="col-8">

                <h2 class="page--quote">Thank you for your interest in AC-DC HVAC & Appliance Repair. Get in touch with us!</h2>

                <p>Our address:  2248 Central Dr, Bedford, 76021, TX
                    <br><br>
                    Phone: (817) 225-0277
                    <br><br>
                    E-mail: support@acdcappliancerepair.com
                    <br><br>
                    Open hours: 7 days a week, 8am — 8pm
                </p>

            </div>
        </div>
    </div>
</main>