---
layout: "wrapper"
---

<main role="main" class="main">

    <!-- CAT -->
    <div class="cat-button-container">
        <a href="tel:(817) 225-0277" class="header--button">
            CALL US NOW (817) 225-0277
        </a>
    </div>

    <!-- BG HERO -->
    <div class="bg-hero"></div>

    <!-- HEADER -->
    <header class="main--header">
        <div class="fixed-width-container">
            <h1 class="main--lead">Professional and fast Dryer Repair</h1>
            <p class="main--descriptor">Also diagnostics and repair of household appliances: refrigerators, dishwashers, ranges, microwave ovens, ovens, dryers and washing machines. Work in Dallas, TX and surrounding areas.</p>
        </div>
    </header>

    <!-- CITIES -->
    <div class="main--cities">
        <div class="fixed-width-container">
            <p>Our serving cities in Dallas, TX and surrounding areas</p>
            <p class="cities--list">
                Arlington, TX
                <br>
                Dallas, TX
                <br>
                Bedford, TX
                <br>
                Denton, TX
                <br>
                Lewisville, TX
                <br>
                Plano, TX
                <br>
                River Oaks, TX
            </p>

        </div>
    </div>

    <!-- BENEFITS -->
    <div class="main--benefits">
        <div class="fixed-width-container">
            <h2 class="benefits-title">Our benefits</h2>

            <div class="benefits-list">

                <div class="benefits-block">
                    <img class="benefits-image" src="/assets/svg/$70.svg" alt="">
                    <h3 class="benefit-title">Cost regular appliance diagnostic</h3>
                    <p class="benefits-text"></p>
                </div>

                <div class="benefits-block">
                    <img class="benefits-image" src="/assets/svg/free.svg" alt="">
                    <h3 class="benefit-title">If you decide to repair, diagnostic for free</h3>
                    <p class="benefits-text">AC/DC HVAC & Appliance repair makes your money matter by giving you a free estimate if you decide to repair it. Rest assured, you won’t be charged extra for our trip out. Now that’s customer service!</p>
                </div>

                <div class="benefits-block">
                    <img class="benefits-image" src="/assets/svg/warranty.svg" alt="">
                    <h3 class="benefit-title">6-month warranty</h3>
                    <p class="benefits-text">AC/DC HVAC & Appliance repair provide 6-month warranty covering all parts changed out by AC/DC HVAC & Appliance repair and our full labor for 6-month.</p>
                </div>

                <div class="benefits-block">
                    <img class="benefits-image" src="/assets/svg/same-day-sevice.svg" alt="">
                    <h3 class="benefit-title">Same-day service, 7 days a week</h3>
                    <p class="benefits-text">We provide same-day service, 7 days a week.  We are sure to have someone in your area the moment you call in with an appliance repair need. We work every day 8 am — 8 pm.</p>
                </div>

            </div>

        </div>
    </div>

    <!-- TRUST -->
    <div class="main--trust">
        <div class="fixed-width-container">
            <h2 class="trust-title">
                No Need to Buy New Appliances
                <br>
                Trust Our Professional Repair trust
            </h2>
            <div class="trust-text-block">
                <p class="trust-text">Your perfect solution for accurate, immediate and professional help with all of your major appliances. AC/DC HVAC & Appliance repair has over 8 years of experience servicing the Dallas, TX and surrounding areas.
                </p>
                <p class="trust-text">Our technicians are highly trained and certified professionals. They are knowledgeable and experienced in repairing all brands and models of all major appliances.
                </p>
            </div>

            <div class="trust-list">

                <div class="trust-block">
                    <img class="trust-block-image" src="/assets/svg/trained.svg" alt="Trained Techs">
                    <div class="">
                        <h3 class="trust-block-title">Trained Techs</h3>
                        <p class="trust-block-text">
                            New training in the office every two weeks.
                            <br>
                            EPA certified techs.
                        </p>
                    </div>
                </div>

                <div class="trust-block">
                    <img class="trust-block-image" src="/assets/svg/insured.svg" alt="">
                    <div class="">
                        <h3 class="trust-block-title">Insured</h3>
                        <p class="trust-block-text">
                            General Liability.
                            <br>
                            Workers Compensation Insurance.
                        </p>
                    </div>
                </div>

                <div class="trust-block trust-block__wide">
                    <img class="trust-block-image" src="/assets/svg/call-assistant.svg" alt="">
                    <div class="">
                        <h3 class="trust-block-title">Call assistant</h3>
                        <p class="trust-block-text">Don’t hesitate to call in, we have customer service representatives standing by waiting to assist you. We pride ourselves on being the best appliance repair service in Dallas, TX and surrounding areas.</p>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- SERVICES  -->
    <div class="main--services">
        <div class="fixed-width-container">
            <h2 class="services-title">
                We do residential appliance repair, commercial appliance repair, industrial appliance repair, and HVAC repair in Dallas, TX and surrounding areas
            </h2>
            <p class="services--list">
                    Oven Repair
                <br>Cooktop Repair
                <br>Microwave Repair
                <br>Washer Repair
                <br>Dryer Repair
                <br>Dishwasher Repair
                <br>Refrigerator Repair
                <br>Freezer Repair
                <br>Wine Cooler Repair
                <br>Double Oven Repair
                <br>Range/Stove Repair
            </p>

            <h3 class="services-subtitle">Commercial Appliance Repair AC/DC HVAC & Appliance Repair </h3>
            <p class="services--list services--list__wide">
                    Commercial Refrigerator Repair
                <br>Commercial Freezer Repair
                <br>Commercial Oven Repair
                <br>Commercial Cooktop Repair
                <br>Commercial Microwave Repair
                <br>Commercial Dishwasher Repair
                <br>Commercial Pizza Oven Repair
                <br>Ice Machine Repair
            </p>

            <h3 class="services-subtitle">Industrial Appliance Equipment Repair in AC/DC HVAC & Appliance Repair</h3>
            <p class="services--list">
                    Walk-in Cooler Repair
                <br>Walk-in Freezer Repair
                <br>Industrial Oven Repair
                <br>Industrial Microwave Repair
                <br>Walk-in Oven Repair
            </p>
        </div>
    </div>
</main>