---
layout: "wrapper"
---

<main role="main" class="main">

    <!-- BG HERO -->
    <div class="full-width-container">
        <img class="full-width-container--image" src="/assets/images/bg-image.jpg" alt="">
    </div>

    <!-- HEADER -->
    <header class="main--header">
        <div class="fixed-width-container">
            <h1 class="main--lead">Professional and fast Dryer Repair</h1>
            <p class="main--descriptor">Also diagnostics and repair of household appliances: refrigerators, dishwashers, ranges, microwave ovens, ovens, dryers and washing machines. Work in Dallas, TX and surrounding areas.</p>

            <a href="tel:(817) 225-0277" class="header--button">
                CALL US NOW (817) 225-0277
            </a>
        </div>
    </header>

    <!-- CITIES -->
    <div class="main--cities">
        <div class="fixed-width-container">
            <p>Our serving cities in Dallas, TX and surrounding areas</p>
            <p class="cities--list">
                Arlington, TX
                <br>
                Dallas, TX
                <br>
                Bedford, TX
                <br>
                Denton, TX
                <br>
                Lewisville, TX
                <br>
                Plano, TX
                <br>
                River Oaks, TX</p>

        </div>
    </div>

    <!-- BENEFITS -->
    <div class="main--benefits">
        <div class="fixed-width-container">
            <h2 class="benefits-title">Our benefits</h2>

            <div class="benefits-list">

                <div class="benefits-block">
                    <img class="benefits-image" src="/assets/svg/$70.svg" alt="">
                    <h3 class="benefit-title">Cost regular appliance diagnostic</h3>
                    <p class="benefits-text">Что-то надоо написать</p>
                </div>

                <div class="benefits-block">
                    <img class="benefits-image" src="/assets/svg/free.svg" alt="">
                    <h3 class="benefit-title">If you decide to repair, diagnostic for free</h3>
                    <p class="benefits-text">AC/DC HVAC & Appliance repair makes your money matter by giving you a free estimate if you decide to repair it. Rest assured, you won’t be charged extra for our trip out. Now that’s customer service!</p>
                </div>

                <div class="benefits-block">
                    <img class="benefits-image" src="/assets/svg/warranty.svg" alt="">
                    <h3 class="benefit-title">6-month warranty</h3>
                    <p class="benefits-text">AC/DC HVAC & Appliance repair provide 6-month warranty covering all parts changed out by AC/DC HVAC & Appliance repair and our full labor for 6-month.</p>
                </div>

                <div class="benefits-block">
                    <img class="benefits-image" src="/assets/svg/same-day-sevice.svg" alt="">
                    <h3 class="benefit-title">Same-day service, 7 days a week</h3>
                    <p class="benefits-text">We provide same-day service, 7 days a week.  We are sure to have someone in your area the moment you call in with an appliance repair need. We work every day 8 am — 8 pm.</p>
                </div>

            </div>

        </div>
    </div>

    <!-- SERVICES -->
    <div class="main--services">
        <div class="fixed-width-container">

        </div>
    </div>

</main>




<!-- 
<div class="mobile">
    <div class="main">
        <h1 class="main--lead">Diagnostics and repair of household appliances is fast and professional: refrigerators, ranges, dishwashers, ovens, microwave ovens, dryers and washing machines. We work in Dallas, TX<img style="width: 10vw;" src="assets/svg/texas-flag.svg" alt="HVAC & Appliance Repair"/> and surrounding areas.</h1>
    </div>
    <div class="factoid-diagnostic__mobile">
        <img class="factoid-usd70--image" src="assets/svg/$70.svg" alt="Diagnostics is $70">
        <p class="factoid-usd70--text">Cost regular appliance diagnostic</p>
    </div>
    <div class="factoid-diagnostic-free__mobile">
        <img class="factoid-diagnostic-free--image" src="assets/svg/free.svg" alt="Diagnostics for free">
        <p class="factoid-diagnostic-free--text">If you decide to repair, diagnostic for free</p>
    </div>

    <div class="factoid-warranty__mobile">
        <img class="factoid-warrant--image" src="assets/svg/6.svg" alt="6-month warranty">
        <p class="factoid-warrant--text">6-month warranty covering all parts changed out by AC/DC HVAC & Appliance repair and our full labor for 6-month</p>
    </div>

    <div class="main-factoid-trainee">
        <div class="factoid-trainee--div-1">
            <img src="assets/svg/mussels.svg" alt="Trained Techs" class="factoid-trainee--image">
            <h2 class="factoid-trainee--h2">Trained Techs</h2>
        </div>
        <p class="factoid-trainee--text">
            New training in the office every two weeks. 
            <br>
            EPA certified techs.</p>
    </div>

    <div class="main-factoid-insured">
        <div class="factoid-insured--div-1">
            <img src="assets/svg/insured.svg" alt="Workers Compensation Insurance" class="factoid-insured--image">
            <h2 class="factoid-insured--h2">Insured</h2>
        </div>
        <p class="factoid-insured--text">
            General Liability.
            <br>
            Workers Compensation Insurance.</p>
    </div>

    <div class="main-factoid-same-day-service">
        <img src="assets/svg/same-day-sevice.svg" alt="" class="factoid-same-day-service--image">
        <p class="factoid-same-day-service--text">We provide same-day service, <br>7 days a week</p>
    </div>


</div>

<div class="desktop">
    <div class="main">
        <h1 class="main--lead">Diagnostics and repair of household appliances is fast and professional: refrigerators, dishwashers, ranges, microwave ovens, ovens, dryers and washing machines. Diagnostics is $70. If you decide to repair, diagnostic for free. Unconditional guarantee of 6 months. We work in Texas<img src="assets/svg/texas-flag.svg" alt="HVAC & Appliance Repair"/> with pride.</h1>
    </div>
    
    <div class="main-block main-block__1">
        <div class="main-col-5">
            <h2>Your AC system installation and repair contractors in Dallas, TX</h2>
            <p class="main-block--block-1--text">Your perfect solution for accurate, immediate, 5 stars rating, and professional help with all of your major appliances. AC/DC HVAC & Appliance repair has over 8 years of experience servicing the Dallas and surrounding areas. <span class="underlined">We provide same-day service, 7 days a week.</span> We are sure to have someone in your area the moment you call in with an appliance repair need. Our technicians are highly trained and certified professionals. They are knowledgeable and experienced in repairing all brands and models of all major appliances.</p>
        </div>
        <div class="main-col-3">
            <div class="main-factoid-usd70">
                <img class="factoid-usd70--image" src="assets/svg/$70.svg" alt="Diagnostics is $70">
                <p class="factoid-usd70--text">Cost regular appliance diagnostic. <br>If you decide to repair, diagnostic for free.</p>
            </div>
        </div>
    </div>
    
    <div class="main-block main-block__2">
        <div class="main-col-4">
            <div class="main-factoid-warrenty">
                <p class="factoid-warrenty--text">6-month warranty covering all parts changed out by AC/DC</p>
            </div>
        </div>
    
        <div class="main-col-5">
            <h2>How to choose an air conditioning company in Dallas, TX.</h2>
            <p class="main-block--block-1--text">A trusted AC company always has solid warranties. That is one of the most important factors you should look for. We provide you with a 6-month warranty covering ALL parts changed out by AC/DC HVAC & Appliance repair and our full labor for 6-month.
            <br><br>
            AC/DC HVAC & Appliance repair makes your money matter by giving you <span class="underlined">a free estimate if you decide to repair it.</span> Rest assured, you won’t be charged extra for our trip out. Now that’s customer service! Don’t hesitate to call in, we have customer service representatives standing by waiting to assist you. We pride ourselves on being the best appliance repair service in Dallas, TX and surrounding areas.
            <br><br>
            We pride ourselves on being the best appliance repair service in Dallas, TX and surrounding areas.
            </p>
        </div>
    </div>
    
    <div class="main-block main-block__3">
        <div class="main-col-9">
            <h2>We do residential appliance repair, commercial appliance repair, industrial appliance repair, and HVAC repair in Dallas, TX and surrounding areas</h2>
        </div>
        <div class="main-col-9 main-block__3__list">
            <div class="main-col-3">
                <ul>
                    <li>Oven Repair</li>
                    <li>Cooktop Repair</li>
                    <li>Microwave Repair</li>
                    <li>Double Oven Repair</li>
                    <li>Range/Stove Repair</li>
                </ul>
            </div>
            <div class="main-col-3">
                <ul>
                    <li>Washer Repair</li>
                    <li>Dryer Repair</li>
                    <li>Dishwasher Repair</li>
                </ul>
            </div>
            <div class="main-col-3">
                <ul>
                    <li>Refrigerator Repair</li>
                    <li>Freezer Repair</li>
                    <li>Wine Cooler Repair</li>
                </ul>
            </div>
        </div>
    
        <div class="main-col-5 main-block__3__subtitle">
            <h3>Commercial Appliance Repair AC/DC HVAC & Appliance Repair</h3>
        </div>
        <div class="main-col-9 main-block__3__list">
            <div class="main-col-3">
                <ul>
                    <li>Commercial Refrigerator Repair</li>
                    <li>Commercial Freezer Repair</li>
                    <li>Commercial Oven Repair</li>
                    <li>Commercial Pizza Oven Repair</li>
                    <li>Ice Machine Repair</li>
                </ul>
            </div>
            <div class="main-col-3">
                <ul>
                    <li>Commercial Cooktop Repair</li>
                    <li>Commercial Microwave Repair</li>
                    <li>Commercial Dishwasher Repair</li>
                </ul>
            </div>
            <div class="main-col-3">
                <div class="main-factoid-trainee">
                    <img src="assets/svg/mussels.svg" alt="" class="factoid-trainee--image">
                    <p class="factoid-trainee--text">Trained Techs —<br>
                        New training in the office every two weeks. EPA certified techs.</p>
                </div>
            </div>
        </div>

        <div class="main-col-5 main-block__3__subtitle">
            <h3>Industrial Appliance Equipment Repair in AC/DC HVAC & Appliance Repair</h3>
        </div>
        <div class="main-col-9 main-block__3__list">
            <div class="main-col-3">
                <ul>
                    <li>Walk-in Cooler Repair</li>
                    <li>Walk-in Freezer Repair</li>
                    <li>Industrial Oven Repair</li>
                </ul>
            </div>
            <div class="main-col-3">
                <ul>
                    <li>Industrial Microwave Repair</li>
                    <li>Walk-in Oven Repair</li>
                </ul>
            </div>
            <div class="main-col-3">
                <div class="main-factoid-insured">
                    <img src="assets/svg/insured.svg" alt="" class="factoid-insured--image">
                    <p class="factoid-insured--text">Insured — <br>
                        General Liability.
                        Workers Compensation Insurance.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->