---
layout: "wrapper"
---

<main role="main" class="about">

    <!-- CAT -->
    <div class="page--cat-button-container">
        <div class="page--cat-button">
            <a href="tel:(817) 225-0277" class="page--cat-phone">
                CALL US NOW (817) 225-0277
            </a>
        </div>
    </div>


    <!-- BG HERO -->
    <div class="page--bg-hero"></div>


    <!-- HEADER -->
    <header class="page--header">
        <div class="fixed-width-container main--header--block">
            <h1 class="main--lead">{{ page.title }}</h1>
            <p class="main--descriptor">{{ page.subtitle }}</p>
        </div>
    </header>

    <!-- CONTENT -->
    <div class="page--content">
        <div class="fixed-width-container">
            <div class="col-8">

                <p class="page--text">
                    “Choose us!” so many companies tell you and there’s usually a cause why you listen or why you don’t. But we have the reason to say that we are the best company for appliances and HVAC repairing and installation. Or, more precisely,  85 reasons.<br><br> PS: and 86 reason:  we have 85 reasons buy our services and zero against.
                </p>

                <div class="page--table--container">
                    <div class="page--table--row">
                        <div class="page--table-cell reasons--table-cell"><p>Reason</p></div>
                        <div class="page--table-cell reasons--table-cell"><p>Customer’s benefits</p></div>
                    </div>
                    <ol class="reasons--table-ol">
                        {% for reason in site.data.reasons %}
                            <li class="page--table--counter">
                                <div class="page--table--row">
                                    <div class="page--table-cell reasons--table-cell"><p>{{ reason.reason }}</p></div>
                                    <div class="page--table-cell reasons--table-cell"><p>{{ reason.benefit }}</p></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>